{% extends "layout.html" %}

{% set active_page = "form" %}

{% block title %}Form{% endblock %}

{% block content %}
    <!--page content-->
    <h1 class="text-center">Fill out the fields below to find out what colleges you can get in to</h1>
    <div id="form">
    <form action="/results" class=".needs-validation mainForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" class="form-control" placeholder="Enter Name"id="name" name="uname">
    </div>
    <div class="form-group">
      <label for="Grade">Grade</label>
      <input type="number" class="form-control" placeholder="Enter Grade" id="grade" name="ugrade">
    </div>
    <div class="form-group">
      <label for="GPA">High School GPA(Weighted)</label>
      <input type="number" step=".1" class="form-control" placeholder="Enter GPA" id="GPA" name="uGPA" required>
      <div class="invalid-feedback">Please fill out this field</div>
    </div>
    <div class="form-group">
      <label for="APtaken">How many AP classes have you taken</label>
      <input type="number" class="form-control" placeholder="Enter Number of Classes" id="APtaken" name="uAPTaken" required>
      <div class="invalid-feedback">Please fill out this field</div>
    </div>
    <div class="form-group">
      <label for="APtaken">How many AP tests have you gotten at least a 3 on</label>
      <input type="number" class="form-control" placeholder="Enter Number of 3+" id="APpassed" name="uAPpassed" required>
      <div class="invalid-feedback">Please fill out this field</div>
    </div>
    <div class="form-group">
      <label for="volunteer">How many volunteering hours have you completed</label>
      <input type="number" class="form-control" placeholder="Enter Number of hours" id="vHours" name="uvHours" required>
      <div class="invalid-feedback">Please fill out this field</div>
    </div>
    <div class="form-group">
      <label for="ASB">Did you participate in any clubs or ASB?</label><br>
      <input type="radio" id="yesASB" name="ASB" value="Yes" required>
      <label for="Yes">Yes</label><br>
      <input type="radio" id="noASB" name="ASB" value="No" required>
      <label for="No">No</label><br>
      <div class="invalid-feedback">Please fill out this field</div>
    </div>
    <div class="form-group">
      <label for="Stretch">Do you want to find stretch schools or safety schools?</label><br>
      <input type="radio" id="Stretch" name="stretch" value="stretch" required>
      <label for="Stretch">Stretch</label><br>
      <input type="radio" id="Safety" name="stretch" value="safety" required>
      <label for="Safety">Safety</label><br>
      <div class="invalid-feedback">Please fill out this field</div>
    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <div id="formRatingsDiv">
        <div class="content text-center">
        <div class="ratings"> <span class="product-rating">4.6</span><span>/5</span>
            <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
            <div class="rating-text"> <span>I was able to discover schools I could get into that I never would have thought of!</span> </div>
        </div>
        </div>
        <div class="content text-center">
        <div class="ratings ratingsNT"> <span class="product-rating">5</span><span>/5</span>
            <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
            <div class="rating-text"> <span>I found so many great schools here, and I leared that I am 81% likely to get into my top choice of school!!!!</span> </div>
        </div>
        </div>
        <div class="content text-center">
        <div class="ratings ratingsNT"> <span class="product-rating">4.1</span><span>/5</span>
            <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
            <div class="rating-text"> <span>The list of schools here is amazing! I only wish they could give you more than 5 reccomenations.</span> </div>
        </div>
        </div>
        <div class="content text-center">
        <div class="ratings ratingsNT"> <span class="product-rating">3.6</span><span>/5</span>
            <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
            <div class="rating-text"> <span>I like the schools I got, but I think there could be larger number of schools that I can search through</span> </div>
        </div>
        </div>
        <div class="content text-center">
        <div class="ratings ratingsNT"> <span class="product-rating">5</span><span>/5</span>
            <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
            <div class="rating-text"> <span>BEST WEBSITE EVER!!!!</span> </div>
        </div>
        </div>
    </div>
{% endblock %}
